*{
    text-align: center;
    
}
body{
background-image:url(https://img.freepik.com/free-vector/realistic-digital-lavender-background_23-2150595000.jpg?size=626&ext=jpg);
background-repeat: no-repeat;
background-size: cover;
font-size: 25px;
}
input{
background-color:aliceblue;
height: 60%;
width: 130%;
}
#sb {
border-style: double;
width: 30%;
border-width: 5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 19px;
font-weight: bold;
}
footer {
text-align: center;
background-color: DarkSalmon;
color: white;
}
p{
background-color:aqua;
font-size: 15px;
}
